@import 'variables';
@import 'game';

@media (max-width:768px){
    .game__alphabet{
        grid-template-rows:repeat(3,1fr);
        grid-template-columns:repeat(7,1fr);
    }
}
@media (max-width:568px){
    .game__results{
        flex-direction:column;
    }
    .game__hangman{
        height:20vh;
        width:100%;
        .hangman__body{
            height:50px;
            width:25px;
            left:163px;
        }
        .hangman__leftarm{
            top:45%;
            height:30px;
        }
        .hangman__rightarm{
            top:45%;
            height:30px;
        }
        .hangman__leftleg{
            top:80%;
            height:30px;
            left:163px;
        }
        .hangman__rightleg{
            top:80%;
            height:30px;
            left:177px;
        }
    }
    .game__missed{
        z-index:1;
        &-letters{
            display:flex;
            flex-direction: column;
            align-items:center;
            justify-content: center;
            height:35%;
            font-size:1.5rem;
            span{
                font-size:1.5rem;
            }
        }
    }
    .game__alphabet{
        &-btn{
            width:30px;
            height:30px;
            font-size:1.5rem;
        }
    }
    .game__letters{
        flex-wrap:wrap;
        &-item{
            width:35px;
            height:35px;
            font-size:1.5rem;
        }
    }
}